<template>
  <q-page padding>
    <q-img class="Login" src="~/assets/retangulo.jpg" />
    <q-img class="BgLogin" src="~/assets/bglogin.jpg" />
    <q-input class="txtLogin" rounded outlined v-model="textLogin" label="Usuário" />
    <q-input class="txtSenha" rounded outlined v-model="textSenha" label="Senha" />
    <q-btn class="btnEntrar" label="Submit" type="submit" color="primary"/>
    <!-- content -->
  </q-page>
  </template>

<script>
export default {
  // name: 'PageName',
}
</script>
<style scoped>

.BgLogin {
  position: relative;
  width: 1920px;
  height: 1080px;
  background: #171C24;
}

.Login {
  position: absolute;
  width: 680px;
  height: 610.49px;
  left: 620px;
  top: 234.6px;

  background: #171C24;
  box-shadow: 0px 4px 25px rgba(255, 255, 255, 0.1);
  border-radius: 37.7778px;

}

.log {
  position: absolute;
width: 280.59px;
height: 77.93px;
left: 820px;
top: 398px;
}

.txtLogin {
  position: absolute;
  width: 520px;
  height: 56px;
  left: 700px;
  top: 540px;
  background: #363C46;
  border-radius: 25px;
}

.txtSenha {
  position: absolute;
  width: 520px;
  height: 56px;
  left: 700px;
  top: 634px;
  background: #363C46;
  border-radius: 25px;
}

.btnEntrar {
  position: absolute;
  width: 220px;
  height: 56px;
  left: 850px;
  top: 728px;
  background: #2889BA;
  border-radius: 25px;
}
</style>
